# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# ASP.NET
appsettings.Development.json

# Publish
publish/

# Nuget
*.nupkg
packages/

# Test results
TestResults/

# Coverage
coverage/

# dotenv
.env